<!DOCTYPE html>
<!--THIS IS THE SKELETON. MOST PAGES USE THIS LAYOUT, THEN ADD THEIR OWN GUTS.-->
<!--BEGIN HEADER ====================================================-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/resources/libs/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/libs/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/libs/bootstrap/plugins/bootstrap-multiselect.css}" rel="stylesheet" />

    <!-- global DSAT stylesheet -->
    <link th:href="@{/resources/libs/css/v2_style.css}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{|/resources/libs/css/${templateName}.css|}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"></link>

   

</head>
<body>
<div id="CustomerEnvReport">
	

    <div>
    	<h4>Select column(s):</h4> 
        <select id="columnSelect_CES" class="form-control "></select>
        <button id="clearBut" class="btn btn-success" type="button">Reset</button>
        <h4>Pick a month and year:</h4> 
        <input type="text" class ="datepick" id="CERdatepicker" value="201307"></input>
        <input class="form-control" id="CEShiddencolumns" type="hidden"  ></input>
     <div th:fragment="scripts"><!--REQUIRED-->  
     <script th:inline="javascript">
     
     </script>  
     </div>
    </div>
    <div id="CESTableDiv">
        <h3 id="reportName"></h3>
        <table id="CESTable"
            style="width: 100%; border: 1px solid #8B1C62; padding: 4px;"
            class="table table-striped table-bordered table-condensed">
            
        </table>
    </div>
</div><!-- #CustomerEnvReport -->

<div id="NewCustomersReport">
    <h4>Pick a month and year:</h4>
    <input type="text" class="datepick" id="NCRdatepicker" value=""></input>
     <button id="calculateBut" class="btn btn-success" type="button">Calculate</button>
    <div id="NCRTableDiv">
        <h3 id="NCRreportName"></h3>
        <table id="NCRTable"
            style="width: 100%; border: 1px solid #8B1C62; padding: 4px;"
            class="table table-striped table-bordered table-condensed">
        </table>
    </div>
        
    
</div>

<div id="SupportedDataReport">
    <p>SupportedDataReport</p>
</div>

<div id="IC4VCVersionReport">
    <p>IC4VCVersionReport</p>
</div>

<div id="StorageArrays">
    <p>Storage Arrays</p>
 
     	<h4>Select column(s):</h4> 
        <select id="columnSelect_StorageArrays" class="form-control "></select>
        <h4>Start Date:</h4> 
        <input type="text" class ="datepick" id="datePickerStart_StorageArrays" value="201307"></input>
        <h4>End Date: </h4>
        <input type="text" class ="datepick" id="datePickerEnd_StorageArrays" value="201307"></input>
        
        <div id="table_StorageArrayDiv">
        <h3 id="SAreportName"></h3>
	    <table id="table_StorageArray"
            style="width: 100%; border: 1px solid #8B1C62; padding: 4px;"
            class="table table-striped table-bordered table-condensed">
        </table>
        </div>     
</div>
<div id="VersionInformation">
    <p>VCenter and ESX Report </p>
 
     	<h4>Select column(s):</h4> 
        <select id="columnSelect_VersionInformation" class="form-control "></select>
        <h4>Start Date:</h4> 
        <input type="text" class ="datepick" id="datePickerStart_Version" value="201307"></input>
        <h4>End Date: </h4>
        <input type="text" class ="datepick" id="datePickerEnd_Version" value="201308"></input>
        
        <div id="table_VersionDiv">
        <h3 id="VIreportName"></h3>
	    <table id="table_Version"
            style="width: 100%; border: 1px solid #8B1C62; padding: 4px;"
            class="table table-striped table-bordered table-condensed">
        </table>
        </div>
</div>

<div id="StorageMetrics">
    <p>Page Load Information </p>
 
     	<h4>Select column(s):</h4> 
        <select id="columnSelect_StorageMetrics" class="form-control "></select>
        <h4>Start Date:</h4> 
        <input type="text" class ="datepick" id="datePickerStart_Storage" value="201307"></input>
        <h4>End Date: </h4>
        <input type="text" class ="datepick" id="datePickerEnd_Storage" value="201308"></input>
        
        <div id="table_StorageDiv">
        <h3 id="SMreportName"></h3>
	    <table id="table_StorageMetrics" style="width: 100%; border: 1px solid #8B1C62; padding: 4px;" class="table table-striped table-bordered table-condensed">
					
		</table>
        </div>
</div>
 	

<div id="MainReport">
    
		<table id="table_MainReport"
            style="width: 100%; border: 1px solid #8B1C62; padding: 4px;"
            class="table table-striped table-bordered table-condensed">
            
        </table> 
	
</div>

</body>
</html>
