<div th:fragment="styles"> <!--REQUIRED-->
    <style>
    </style>
</div> <!--REQUIRED-->

<div th:fragment="guts"><!--REQUIRED-->
    <div class="container">
        <div id="MessageDiv" th:include="message::#body"></div>
        <div id="fileUploadSuccessDiv">

            <button id="importBut" class="btn btn-success" type="button">Import to DB</button>
        </div>

    </div>	
</div> <!--REQUIRED-->

<div th:fragment="scripts"> <!--REQUIRED-->
    <script th:inline="javascript">
        $('#importBut').click(function() {
            var base = /*[[${contextPath}]]*/ "";
            console.log(" -- Base URL: "+base);
            window.location = base+"/importCsv";
        });
    </script>
</div> <!--REQUIRED-->
