<div th:fragment="styles"><!--REQUIRED-->
    <style>
    </style>
</div><!--REQUIRED-->

<div th:fragment="guts"><!--REQUIRED-->
    
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Customer Environment Report
                            </a>
                        </h4>
                    </div><!-- .panel-heading -->
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div id="CustomerEnvReport" th:include="reportdiv::#CustomerEnvReport"></div>
                           

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Main Report
                            </a>
                        </h4>
                    </div><!-- .panel-heading -->
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div id="CustomerEnvReport" th:include="reportdiv::#MainReport"></div>
                            <button id="saveHtml" class="btn btn-success" type="button">Save</button>
                            <button id="removeHtml" class="btn btn-success" type="button">Remove unsaved reports</button>
                            <button id="clearHtml" class="btn btn-success" type="button">Clear cache</button>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                New Customers per Month
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                              
                            
                        </div>
                    </div>
                </div>
            </div> <!-- #accordion-->
            <br />
            <button class="btn btn-primary pull-right">Export Report Configuration</button>
            <button class="btn btn-default pull-right">Import Report Configuration</button>
            <button class="btn btn-default pull-right">Render Report as Basic HTML</button>
            <button class="btn btn-default pull-right">Add New Analysis</button>
        </div> <!--.col-sm-12-->
    </div> <!--.row-->

</div><!--REQUIRED-->

<div th:fragment="scripts"><!--REQUIRED-->
    <script th:inline="javascript">
        function parseXml(xml) {

            $val= $(xml).find("columns");
            $('#columns').val($val.text());
            $("#displayBut").prop("disabled",false);
            var textToSelect = "xpcount";

            $("#selectColumnDropbox option").each(function() {
                if ($(this).html() == textToSelect ) $(this).attr("selected", "selected");
            });
        }

        $(document).ready(function() {

            $(".dsat-analyses-type-select > .dropdown-menu a").on("click", function(event) {
                var _clickedItem = $(this);
                var _dropdownButton = _clickedItem.parent().parent().parent();
                //console.log(_clickedItem.html());

                _dropdownButton.find(".dsat-analysis-type-text").text(_clickedItem.text());
                event.preventDefault();
            });
            //$(".dsat-select-column .multiselect").multiselect();

            $.get( "getMappedColumns", function( data ) {
                var html = '';
                for ( var i in data[1]) {
                    var csv = data[1];
                    html += '<option value="'
                    + csv[i]
                    + '">'
                    + csv[i]
                    + '</option>';
                }
                $('#selectColumnDropbox').html(html);
            });

            /*
             * Get reportconfig.xml from the server then parse it.
             */
            var link= /*[[@{resources/xml/reportconfig.xml}]]*/ ;
            $.ajax({
                type: "GET",
                url: link,
                dataType: "xml",
                success: parseXml
            });

            function calculateReport(){
    	        
    	    	var columns = $("#hiddencolumns").val(); // string
    	        var date = $("#datepicker").val();
    	        columns = columns.split(","); // array
    	        $('#CESTable').html("");
    	        $("#CESTable").append("<tr>	<th>Name</th><th>Total</th><th>Average</th><th>Max</th></tr>");
    	
    	        //$('#CESTable tr:gt(0)').remove()
    	        $.each(columns, function( index, value ) {
    	            var contextPath = /*[[${contextPath}]]*/ "";
    	            $.get( contextPath+"/reports/reportCustomerEnvironmentSize/"+value+"/cColumn/"+date, function( data ) {
    	                $("#CESTable").last().append("<tr><td>"+data.envName+"</td><td>"+data.total+"</td><td>"+data.average+"</td><td>"+data.max+"</td></tr>");
    	                $("#reportName").html(data.reportName);
    	            }, "json").fail(function() {
    	                alert( "Column does not have metric value! Please choose a different column" );
    	                columns.pop();
    	                $('#hiddencolumns').val(columns.join(","));
    	                
    	            });
    	
    	        });
    	       
    	    }

            $("#displayBut").on("click", function() {
                var columns = $("#columns").val(); // string
                var date = $("#datepicker").val();
                columns = columns.split(","); // array
                $('#CESTable').html("");
                $("#CESTable").append("<tr>	<th>Name</th><th>Total</th><th>Average</th><th>Max</th></tr>");

                //$('#CESTable tr:gt(0)').remove()
                $.each(columns, function( index, value ) {
                    var contextPath = /*[[${contextPath}]]*/ "";
                    $.get( contextPath+"/reports/reportCustomerEnvironmentSize/"+value+"/cColumn/"+date, function( data ) {
                        $("#CESTable").last().append("<tr><td>"+data.envName+"</td><td>"+data.total+"</td><td>"+data.average+"</td><td>"+data.max+"</td></tr>");
                        $("#reportName").html(data.reportName);
                    }, "json").fail(function() {
                        alert( "Column does not have metric value! Please choose a different column" );
                        columns.pop();
                        $('#columns').val(columns.join(","));
                    });

                });
                $("#displayBut").prop("disabled",true);
                $("#addCER").prop("disabled",false);
            });

            $("#AddColBut").on("click", function() {

                $("#displayBut").prop("disabled",false);
                if($('#columns').val()=='')
                    $('#columns').val($('#message').html());
                else	
                    $('#columns').val($('#columns').val() +","+ $('#message').html());
            });

            $("#clearBut").on("click", function() {

                $('#columns').val("");
                $('#hiddencolumns').val("");
                
            });

            $("#removeColBut").on("click", function() {
            	var hiddencolumns = $("#hiddencolumns").val();
            	hiddencolumns = hiddencolumns.split(",");
            	hiddencolumns.pop();
                $('#hiddencolumns').val(hiddencolumns.join(","));

                var columns = $("#columns").val();
            	columns = columns.split(",");
            	columns.pop();
                $('#columns').val(columns.join(","));
                
                
                calculateReport();
                
            });
            $('#selectColumnDropbox').on("change", function() {
                var index = $('#selectColumnDropbox').prop('selectedIndex');

                $.get( "getMappedColumns", function( data ) {
                    //$('#Cols').html(data[0][index]);
                    $("#message").html(data[0][index]);

                   
                    if($('#hiddencolumns').val()==''){
                        $('#columns').val(data[1][index]);
                        $('#hiddencolumns').val(data[0][index]);
                    }
                    else{	
                        $('#columns').val($('#columns').val() +","+data[1][index] );
                        $('#hiddencolumns').val($('#hiddencolumns').val() +","+data[0][index] );
                        }
                    calculateReport();
                });
                
                
            });
        });
    </script>
</div><!--REQUIRED-->
