<div th:fragment="styles">
    <style>
    </style>
</div>

<div th:fragment="guts"><!--REQUIRED-->

                    <div class="row">
                        <div class="col-sm-3">
                            <h2>Add user:</h2>
                            <form action="" role="form">
                                <div class="form-group">
                                    <!--<label for="username">Username</label>-->
                                    <input class="form-control" type="text" id="username" placeholder="username" />
                                </div>
                                <div class="form-group">
                                    <!--<label for="useremail">Email</label>-->
                                    <input class="form-control" type="email" id="useremail" placeholder="email" />
                                </div>
                                <div class="form-group">
                                    <!--<label for="userpassword">Password</label>-->
                                    <input class="form-control" type="password" id="userpassword" placeholder="password" />
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                        <div class="col-sm-9">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> <input type="checkbox" /> </td>
                                            <td>zspeck</td>
                                            <td>zspeck@gmail.com</td>
                                            <td>●●●●●●●●●●●●●●●</td>
                                        </tr>
                                        <tr>
                                            <td> <input type="checkbox" /> </td>
                                            <td>jabarri</td>
                                            <td>jabarri@hp.com</td>
                                            <td>●●●●●●●●●●●●●●●</td>
                                        </tr>
                                        <tr>
                                            <td> <input type="checkbox" /> </td>
                                            <td>priya</td>
                                            <td>priya@hp.com</td>
                                            <td>●●●●●●●●●●●●●●●</td>
                                        </tr>
                                        <tr>
                                            <td> <input type="checkbox" /> </td>
                                            <td>yulia</td>
                                            <td>yulia@hp.com</td>
                                            <td>●●●●●●●●●●●●●●●</td>
                                        </tr>
                                        <tr>
                                            <td> <input type="checkbox" /> </td>
                                            <td>johnny</td>
                                            <td>johnny@hp.com</td>
                                            <td>●●●●●●●●●●●●●●●</td>
                                        </tr>
                                        <tr>
                                            <td> <input type="checkbox" /> </td>
                                            <td>curtis</td>
                                            <td>curtis@hp.com</td>
                                            <td>●●●●●●●●●●●●●●●</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!--.table-responsive-->
                            <button class="btn btn-default">Select All</button>
                            <button class="btn btn-default">Select None</button>
                            <button class="btn btn-primary">Delete Selected</button>
                        </div> <!--.col-sm-9-->
                    </div> <!--.row-->

</div><!--REQUIRED-->

<div th:fragment="scripts">
    <script th:inline="javascript">
    </script>
</div>
